body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header,
.projects,
.quote-section,
footer {
    padding: 0 10%;
}

header,
footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.topbar {
    display: flex;
    align-items: center;
}

.header-logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    padding: 0;
    display: flex;
}

li {
    padding: 0 8px;
}

h1 {
    font-size: 48px;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.main-img
{
    width: 300px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

.project-caption {
    font-size: 36px;
    color: #1f2937;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}