body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}

header,
.projects,
.quote-section,
footer {
    padding: 0 10%;
}

header,
footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.topbar {
    display: flex;
    align-items: center;
}

.header-logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    padding: 0;
    display: flex;
}

li {
    padding: 0 8px;
}

.top-link {
    color: #f9faf8;
    text-decoration: none;
}

.top-link:hover {
    filter: brightness(50%);
}

.hero {
    display: flex;
    padding: 40px;
    justify-content: center;
    gap: 80px;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    margin: 0 0 8px 0;
    text-align: left;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    text-align: left;
    width: 500px;
}

.main-img
{
    width: 300px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 16px;
    border-radius: 6px;
    width: 100px;
    font-weight: bold;
}

button:active {
    background-color: #255aaf;
}

.upper-button {
    border: 0;
}

.projects {
    margin: 100px;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.project-caption {
    font-size: 36px;
    color: #1f2937;
}

.project1,
.project2,
.project3,
.project4 {
    display: flex;
    flex-direction: column;
}

.recipes-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid #3882f6 3px;
}

.recipes-img:hover {
    filter: brightness(50%);
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-container {
    width: 650px;
    margin: 50px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    text-align: right;
}

.signup {
    color: #f9faf8;
    display: flex;
    justify-content: center;
}

.signup-container {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 600px;
    padding: 10px 50px;
    margin: 60px;
}

.signup-text {
    text-align: left;
}

.lower-button {
    border: solid #f9faf8 1px;
    height: 31px;
    margin-left: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}